<footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-copyright">
                <p class="text-center">
                    <a class="anchor-black" href="{% url 'home' %}">Developers</a>
                    <ul>
                        <li style="text-align: left;">Shantanu Acharya (Pre-Final Year)</li>
                        <li style="text-align: left;">Sunil Dinday (Final Year)</li>
                        <li style="text-align: left;">Ranjeet Kumar(Pre-Final Year)</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 " style="padding-top: 22px">
                <img src="https://image.ibb.co/cFLKpH/CODE_WARRIOR_N.png" alt="CODE_WARRIOR_N" border="0" style="width: 190px;height: 60px">
                <!-- <img src="https://image.ibb.co/eaahPH/hackerearth.png" alt="hackerearth" border="0" /> -->

                <p class="text-center">© 2018, Technical Society NIT Mizoram</p>
            </div>
            <div class="col-md-4 social-networks">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="">
                            <i class="fab fa-github" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="">
                            <i style="width: 50px;height: 50px;" class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>