{% extends 'base.html' %}

{% block base_head %}
<title>LeaderBoard</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 my-3">
		<h1 class="text-center">LeaderBoard</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 my-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr>
						<td>{{ object.username }}</td>
						<td>{{ object.score }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
