{% extends 'base.html' %} {% block base_head %}
<title>LeaderBoard</title>
{% endblock %} {% block content %} {% if msg %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ msg }}
</div>
{% endif %}

<div class="row">
  <div class="col-12 my-3">
    <div
      class="jumbotron"
      style="padding-top: 10px;padding-left: 10px ;padding-bottom: 8px;margin-bottom:10px;margin-top:8px;padding-bottom: 15px"
    >
      <h1 class="text-center">LeaderBoard</h1>
    </div>
  </div>
</div>
<div
  class="jumbotron"
  style="padding-top: 15px;padding-left: 10px ;padding-bottom: 5px;margin-bottom:20px;margin-top:8px; "
>
  <div class="row">
    <div class="col-12 my-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Username</th>
            <th class="text-center">Score</th>
            <th class="text-center">Total Time (seconds)</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %} {% if object.username == username%}
          <tr style="background-color:rgb(224, 129, 129)">
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">
              {{ object.username }}
              <!--<a href="{% url 'profile' object.username %}">{{ object.username }}</a>-->
            </td>
            <td class="text-center">{{ object.score }}</td>
            <td class="text-center">{{ object.total_time }}</td>
          </tr>
          {% else %}
          <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">
              {{ object.username }}
              <!--<a href="{% url 'profile' object.username %}">{{ object.username }}</a>-->
            </td>
            <td class="text-center">{{ object.score }}</td>
            <td class="text-center">{{ object.total_time }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
    {% if not object_list %}
    <div class="col-12 mb-4">
      Sign Up to display your name on the leaderboard.
    </div>
    {% endif %}
  </div>
</div>

<a style="margin-bottom: 20px" href="{% url 'question:list' %}">
  <button type="button" class="btn btn-success">Back To Problems</button>
</a>
<div style="margin-bottom: 20px"></div>

{% endblock %}
