{% extends 'base.html' %} {% block base_head %}
<title>Profile</title>
{% endblock %} {% block content %}

<div class="jumbotron jumbotron-fluid" style="padding-top: 15px;padding-left: 10px ; margin-left: 17%;margin-right: 17%; padding-bottom: 5px;margin-bottom:10px;margin-top:8px; padding-right: 15px">

		<h1 style="align-self: auto;" class="text-center">{{ object.get_full_name }}</h1>

</div>
</div>
<div class="jumbotron" style="padding-top: 15px;padding-left: 10px ; margin-left: 17%;margin-right: 17%; padding-bottom: 5px;margin-bottom:10px;margin-top:8px; padding-right: 15px">
			<b>Username:</b> {{ object.username }}
			<p style="color: green">Score:{{ object.score }} </p>
			<a href="{% url 'question:list' %}">
				<button style="text-align: center" type="button" class="btn btn-success">Back To Problems</button>
			</a>
</div>
{% endblock %}