{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% include 'base/css.html' %} {% include 'base/js.html' %} {% block base_head %}{% endblock %}
</head>

<body>

	{% include 'base/navbar.html' with brand_name='Code Warrior' %}

	<div id="wrap">
		<div id="main" class="clear-top">
			{% if messages %}
			<div class="container mt-3">
				<div class="alert alert-success messages">
					{% for message in messages %}
					<span{% if message.tags %} class="{{ message.tags }}" {% endif %}>
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
						</span>
				</div>
				{% endfor %}
			</div>
			{% endif %}

			<div class="container">
				{% block content %}{% endblock %}
			</div>

			<div class="container-fluid">
				{% block content_fluid %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="jumbotron" style="margin-top: 20px;background-color: rgb(135, 177, 168)">
		<div class="row">
			<div class="col-4" style="margin-top: 10%">
				<h4 style="margin-top: 5%;color: rgb(37, 35, 35);text-align: left;">Developers</h4>
				<ul style=" padding-left: 150px">
					<li style="color: rgb(37, 35, 35);text-align:left">Shantanu Acharya (3rd year)</li>
					<li style="color: rgb(37, 35, 35);text-align: left;">Sunil Dinday (4th year) </li>
					<li style="color: rgb(37, 35, 35);text-align: left;">Ranjeet Kumar (3rd year)</li>
				</ul>
			</div>
			<div class="col-4" style="margin-top: 20px">
				<h4 style="color: black;">
					<a href="http://morphosis.org.in">Morphosis</a>
				</h4>
				<h6>&copy; Copyright 2018 All Rights Reserved Technical Society NIT Mizoram</h6>
			</div>
			<div class="col-4" style="margin-top: 10%">
				<a href="" target="_blank" style="text-align: left; padding-left: 10px">
					<img style="color: black solid #000;" alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"
					 style="padding-left: 0px">
				</a>
				<a href="" target="_blank" style="padding-top: 15px">
					<img src="https://image.ibb.co/mLkYic/fb.png" alt="fb" border="0" style="width:50px;height:50px;">
				</a>
				<a href="" target="_blank" style="padding-top: 15px">
					<img src="https://image.ibb.co/eHnJGx/insta.jpg" alt="insta" border="0" style="width:50px;height:50px;">
				</a>
			</div>
		</div>
	</div>
	</footer>
	</div>

	{% block javascript %}{% endblock %}

</body>

</html>