{% extends 'base.html' %} {% block base_head %}
<title>Submit Solution</title>
{% endblock %} {% block content %}

<div class="row">
  <div class="col-12 my-3">
    <h1 class="text-center">Submit</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 my-3">

    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
      <div class="jumbotron">
        {{ form.as_p }}
      </div>
      <div class="jumbotron">
        <div class="row">
          <div class="col-5"></div>

          <div class="col-5" style="text-align: left">
            Select Language:
            <br> {% for language in language_list %}
            <input type="radio" name="language"  value="{{ language }}"> 
            {% if language == 'c' %} 
             C 
            {% elif language == 'cpp' %}
             C++ 
             {% elif language == 'py2' %} 
             Python 2 
             {% elif language == 'py3' %} 
             Python 3
            {% endif %}
            <br> {% endfor %}
            <br>
            <button class="btn btn-success my-3" type="submit">Submit</button>
          </div>
          <div class="col-2"></div>
        </div>



      </div>
    </form>

  </div>
</div>

{% endblock %}